@model List<Model.EF.ProductCategory>

<ul class="list-group shadow mb-4">
    <li class="list-group-item py-3" aria-current="true">
        <h6 class="m-0 fw-bold">
            Danh Mục Sản Phẩm
        </h6>
    </li>
    @foreach (var item in Model.Where(x => x.ParentID == null))
    {
        var child = Model.Where(x => x.ParentID == item.ID);

        if (child.Count() > 0)
        {
            <li class="list-group-item">
                <a href="/san-pham/@item.MetaTitle-@item.ID" class="text-black d-flex justify-content-between">
                    @item.Name
                    <div class="btn-show-product-category-child fas fa-chevron-right" data-show="false" data-id="@item.ID"></div>
                </a>

                <ul>
                    @foreach (var childItem in child)
                    {
                        <li class="list-group-item border-0 ps-0" style="display: none" for="product-@item.ID">
                            <a href="/San-pham/@childItem.MetaTitle-@childItem.ID" class="text-black">@childItem.Name</a>
                        </li> 
                    }

                </ul>
            </li>
        }
        else
        {
            <li class="list-group-item">
                <a href="/San-pham/@item.MetaTitle-@item.ID" class="text-black">@item.Name</a>
            </li>

        }
    }
</ul>

<script>
    $(document).ready(function () {
        $(".btn-show-product-category-child").off('click').on('click', function (e) {
            e.preventDefault();

            let btn = $(this);
            let id = btn.data('id');
            let show = btn.data('show');
            let productChild = '[for="product-' + id + '"]';

            if (show) {
                $(productChild).attr('style', 'display: none');
                btn.attr('class', 'btn-show-product-category-child fas fa-chevron-right');
            } else {
                $(productChild).removeAttr('style');
                btn.attr('class', 'btn-show-product-category-child fas fa-chevron-down');
            }

            btn.data('show', !show);
        });
    });
</script>

