
@{
    ViewBag.Title = "Mua hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-white p-5">
    <div class="alert alert-success mb-0">
        Bạn vừa mua hàng thành công.
    </div>
</div>

