@model Model.EF.MenuType

@{
    ViewBag.Title = "Thêm Mới Danh Mục Menu";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    Danh Mục Menu
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thêm Mới</h6>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Create", "MenuType", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Tên danh mục Menu</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <center>
                    <input type="submit" value="Hoàn thành" class="btn btn-primary" />
                </center>
            </div>
        }
    </div>
</div>
