@model Model.EF.MenuType

@{
    ViewBag.Title = "Thêm mới danh mục menu";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Header{
    Danh Mục Menu
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 fw-bold text-primary">Thêm Mới</h6>
    </div>
    <div class="card-body pb-0">
        @using (Html.BeginForm("Create", "MenuType", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label>Tên danh mục Menu</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-icon-split btn-primary">
                    <span class="icon text-white-50 fw-bold">
                        <i class="fas fa-floppy-disk fa-fw"></i>
                    </span>
                    <span class="text">Lưu dữ liệu</span>
                </button>
            </div>
        }
    </div>
</div>
