<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Home/Index">
            <i class="fas fa-home"></i>
            <span>Trang Chủ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#SanPham" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fab fa-windows"></i>
            <span>Sản Phẩm</span>
        </a>
        <div id="SanPham" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/ProductCategory/Index">Danh Mục</a>
                <a class="collapse-item" href="/Admin/Product/Index">Sản Phẩm</a>
                <a class="collapse-item" href="/Admin/Order/Index">Đơn hàng</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#Menu" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-bars"></i>
            <span>Menu</span>
        </a>
        <div id="Menu" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/MenuType/Index">Danh Mục</a>
                <a class="collapse-item" href="/Admin/Menu/Index">Menu</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/User/Index">
            <i class="fas fa-user"></i>
            <span>Người Dùng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/Admin/Content/Index">
            <i class="fas fa-rss"></i>
            <span>Tin Tức</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#QuanLyChung" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Quản Lý Chung</span>
        </a>
        <div id="QuanLyChung" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/Admin/Contact/Index">Thông Tin Liên Hệ</a>
                <a class="collapse-item" href="/Admin/Banner/Index">Bìa Quảng Cáo</a>
                <a class="collapse-item" href="/Admin/Footer/Index">Footer</a>
                <a class="collapse-item" href="/Admin/Feedback/Index">Phản Hồi</a>
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
